[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
pydantic = "*"
apache-airflow-providers-postgres = "*"
boto3 = "*"
apache-airflow-providers-cncf-kubernetes = "*"

[dev-packages]

[requires]
python_version = "3.12"
